:root{
    /* Colores */
    --blanco: #ffffff;
    --osucro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    /* Fuentes */
    --fuente-principal: 3.8rem;

}   /*Custom propertys o variables de css*/

html{
    font-size: 62.5%;
}
body{
    font-size: 10px;
    font-family: 'Krub', sans-serif;
    margin: 0;
}
/* Con las dos lineas de arriba se usa para que se formatee las medidas de la paginas */
/* con las dos lineas de arriba podemos usar rem de la siguiente forma **1rem = 10px** */
.title {
    text-align: center;
    font-size: 3.8rem;
}
.title span{
    font-size: 2rem;
}

/* **Navegación** */
.contenedor{
    max-width: 120rem;
    margin: 0 auto; /* Centra el nav */
}
.nav-bg{
    background-color: var(--secundario);
}
.nav_principal{
    display: flex; /* Activa el display flex */
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav_principal{
        flex-direction: row;
        justify-content: space-between; /* Centra los elementos del padre */
    }
}

.nav_principal a{ 
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.9rem;
}
.nav_principal a:hover{
    background-color: var(--primario);
    color: var(--osucro);
}
.hero{
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
